page-persona {
    .splash-bg {
        height: 5%;
    }
    .splash-logo {
        margin: auto;
        background: url('../assets/imgs/icon_persona.png') repeat transparent;
        background-size: 100%;
        width: 90px;
        height: 90px;
        padding-bottom: 20px;
    }
}