<ion-header>
  <ion-navbar>
    <ion-title>
      Tareas
    </ion-title>
    <ion-buttons end>

      <button *ngIf="!habilitar">Editar</button>
      <button *ngIf="habilitar">Listo</button>

      <button ion-button (click)="agregarTarea()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list [reorder]="habilitar" (ionItemReorder)="ordenarTareas($event)">
  <ion-item-sliding *ngFor="let tarea of tareas;let indice= index">
    <ion-item>{{tarea}}</ion-item>
    <ion-item-options side="right">
      <button color="danger" ion-button (click)="archivarTarea(indice)">
        <ion-icon name="trash" ></ion-icon>
      </button>
    </ion-item-options>
    <ion-item-options side="left">
      <button color="danger" ion-button (click)="editarTarea(indice)">
        <ion-icon name="create" ></ion-icon>
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
<ion-fab right bottom>
  <button ion-fab (click)="irPaginaArchivadas()">
    <ion-icon name="albums"></ion-icon>
  </button>
</ion-fab>
</ion-content>
